body {
  font-family: Noto Sans JP, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding: 29px clamp(0.188rem, -5.683rem + 25.05vw, 24.375rem);
}

.header-boxes-img {
  width: 100%;
}

.header-boxes__item-text-sp {
  font-size: 14px;
  height: 20px;
}

.header-boxes__item-text-sp {
  display: none;
}

.header-boxes__item {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  height: 35px;
}

.header-boxes__item img {
  margin-right: 6px;
}

.header-boxes__item p {
  color: #21A937;
  font-size: 24px;
  font-weight: bold;
}


@media screen and (max-width:821px) {
  .header {
    padding: 29px 32px;
  }
}

@media screen and (max-width: 651px) {
  .header-boxes__item-text-sp {
    display: block;
  }

  .header-boxes__item-text-pc {
    display: none;
  }

  .header-boxes__item {
    margin-top: 18px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    padding: 20px 16px;
  }

  .header-boxes:first-child {
    width: 50%;
  }

  .header-boxes-img {
    width: 100%;
  }

  .header-boxes__item-text-sp {
    font-size: 12px;
  }

  .header-boxes__item p {
    font-size: 16px;
  }
}

.fv {
  height: 947px;
  background-image: url(./img/fv.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.copy-boxes {
  position: absolute;
  margin-top: 133px;
  margin-left: 211px;
  display: flex;
  flex-direction: row-reverse;
}

.copy-boxes__item {
  width: 102px;
  height: 565px;
  background-color: #fff;
  padding: 24px 0;
}

.copy-boxes__item-text {
  writing-mode: vertical-rl;
  font-size: 28px;
  font-weight: bold;
  color: #444;
  letter-spacing: 0.2em;
  margin: 0 auto;
}

.copy-boxes__item:first-child {
  margin-left: 80px;
}

.text-color-01 {
  color: #21A937;
}

@media screen and (max-width:821px) {
  .fv {
    background-position: 70%;
  }

  .copy-boxes {
    margin-left: 8%;
  }

  .copy-boxes__item:first-child {
    margin-left: 20px;
  }
}

@media screen and (max-width: 521px) {
  .fv {
    height: 600px;
  }

  .copy-boxes__item {
    width: 50px;
    height: auto;
  }

  .copy-boxes__item-text {
    font-size: 20px;
  }

  .copy-boxes {
    margin-top: 60px;
  }
}

.second-container {
  padding: 140px 0;
}

.second-container-item {
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.second-container-item__text {
  width: 40%;
  padding-right: 50px;
}

.second-container-item__text h2 {
  color: #444444;
  font-weight: bold;
  font-size: 24px;
  text-decoration-color: #99E5A5;
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
  text-decoration-skip-ink: none;
  padding-bottom: 67px;
}

.second-container-item__text p {
  font-size: 16px;
  line-height: 2.4em;
}

.second-container-item__img {
  width: 60%;
}

.second-container-item__img img {
  width: 100%;
}

@media screen and (max-width:821px) {
  .second-container {
    width: 80%;
    margin: 0 auto;
  }

  .second-container-item {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .second-container-item__text {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .second-container-item__img {
    width: 100%;
  }

  .second-container-item__img img {
    margin-bottom: 100px;
  }

  .second-container-item__text h2 {
    font-size: 36px;
    padding-bottom: 16px;
  }

  .second-container-item__text p {
    font-size: 24px;
  }
}

@media screen and (max-width:431px) {

  .second-container-item {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .second-container-item__text {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }

  .second-container-item__img {
    width: 100%;
    margin: 0 auto;
  }

  .second-container-item__img img {
    width: 100%;
    margin-bottom: 100px;
  }

  .second-container-item__text h2 {
    color: #444444;
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 16px;
  }

  .second-container-item__text p {
    font-size: 16px;
    line-height: 2.4em;
  }
}

.third-container {
  padding: 80px 0;
  background-color: #F5FCF8;
}

.third-container-first {
  width: 1180px;
  margin: 0 auto;
}

.third-container-first h2 {
  font-size: 24px;
  text-decoration-color: #99E5A5;
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
  text-decoration-skip-ink: none;
  text-align: center;
  margin-bottom: 48px;
}

.third-container-first p:first-of-type {
  text-align: center;
  margin-bottom: 48px;
}

.third-container-first-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 96px;
}

.third-container-first-item_one {
  background-color: #FFFFFF;
  width: 380px;
  height: 591px;
  border: #C9C9C9 solid 2px;
  padding: 24px;
  position: relative;
}

.third-container-first-item_one h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 16px;
}

.third-container-first-item_one p {
  letter-spacing: 0.24em;
  font-size: 16px;
  text-align-last: left;
  line-height: 2em;
}

.third-container-first-item_one:nth-child(2) {
  margin: 0 16px;
}

.third-container-first-item_one-img {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.third-container-second {
  width: 70%;
  margin: 0 auto;
}

.third-container-second h2 {
  font-size: 24px;
  text-decoration-color: #99E5A5;
  text-decoration-line: underline;
  text-decoration-thickness: 10px;
  text-underline-offset: -3px;
  text-decoration-skip-ink: none;
  text-align: center;
  margin-bottom: 48px;
}

.third-container-second p:first-of-type {
  text-align: right;
  margin-bottom: 48px;
}

.third-container-second-item {
  background-color: #FFFFFF;
  border-radius: 20px;
  /* height: 390px; */
  padding: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.third-container-second-item table {
  border-collapse: collapse;
  width: 90%;
  margin: 0 auto 20px;
}

.third-container-second-item table tbody tr {
  border-bottom: 1px solid #444444;
}

.third-container-second-item table tbody tr td {
  padding: 25px 3px;
  vertical-align: middle;
}

.third-container-second-item table tbody tr td:first-child {
  font-weight: bold;
  font-size: 16px;
  color: #21A937;
}

.third-container-second-item table tbody tr td:nth-child(2) {
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  margin: 0 86px;
  width: 100px;
  text-align: center;
  background-color: transparent;
}

.third-container-second-item table tbody tr td:nth-child(2) span {
  display: inline-block;
  background-color: #444444;
  color: #FFFFFF;
  font-size: 12px;
  padding: 4px 12px;
  /* ここでラベルの大きさを調整 */
  border-radius: 2px;
  width: 80px;
  /* ラベルの横幅を固定 */
  text-align: center;
}

.third-container-second-item table tbody tr td:nth-child(3) {
  font-weight: bold;
  font-size: 16px;
  color: #444444;
}

@media screen and (max-width:1200px) {
  .third-container-first {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width:951px) {
  .third-container-first-item_one {
    height: 671px;
  }
}

@media screen and (max-width:821px) {
  .third-container-first {
    width: 60%;
    margin: 0 auto;
  }

  .third-container-first-item {
    display: block;
  }

  .third-container-first-item_one {
    margin: 0 auto;
    width: 90%;
  }

  .third-container-first-item_one:nth-child(2) {
    margin: 20px auto;
  }
}

@media screen and (max-width:431px) {
  .third-container-second {
    width: 90%;
  }

  .third-container-second-item table tbody tr td:nth-child(1) {
    display: inline-flex;
    margin: 0 16px 0 0;
  }

  .third-container-second-item table tbody tr td:nth-child(2) {
    display: inline-flex;
    margin: 0;
  }

  /* 3つ目のセル（本文）の設定 */
  .third-container-second-item table tbody tr td:nth-child(3) {
    display: block;
    margin-top: 5px;
  }
}

.third-container-second-item div p {
  text-align: right;
  margin-right: 5%;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.third-container-second-item p::after {
  content: "";
  display: inline-block;
  margin-left: 8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #333;
}

footer {
  padding: 196px 0 139px;
  position: relative;
}

.footer-inner {
  max-width: 1220px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.footer-map {
  margin-right: 34px;
  width: 51.53%;
}

.footer-info {
  width: 45.17%;
}

.footer-logo {
  margin-bottom: 52px;
}

.footer-adress {
  margin-bottom: 25px;
  display: flex;
}

.footer-adress p:first-of-type {
  margin-right: 16px;
}

.footer-adress p {
  color: #444;
}

.footer-adress-number {
  margin-bottom: 31px;
}

.footer-adress-number a {
  color: #21A937;
  font-weight: bold;
  font-size: 24px;
}

.footer-adress-number a img {
  margin-right: 5px;
}


.opening-hours {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px solid #E7E7E7;
  border-bottom: 2px solid #E7E7E7;
  margin-top: 28px;
}

.opening-hours dt {
  width: 16%;
  padding-right: 10px;
  font-size: 14px;
  margin-top: 19px;
  padding-top: 3px;
  font-weight: 400;
}

.opening-hours dd {
  width: 84%;
  border-left: 2px solid #E7E7E7;
  padding-left: 28px;
}

.opening-hours dd p:first-of-type {
  font-size: 14px;
  display: inline-block;
  font-weight: normal;
  text-decoration-color: #99E5A5;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: -1px;
  text-decoration-skip-ink: none;
  line-height: 1.2em;
}

.opening-hours dd p {
  font-size: 14px;
  display: inline-block;
}

.opening-hours dd p:nth-of-type(2) {
  margin-left: 23px;
}

.opening-hours dd p:last-of-type {
  margin-left: 17px;
}

.opening-hours .line-first {
  padding-top: 3px;
  margin-top: 19px;
}

.opening-hours .line-second {
  margin-left: 16%;
  padding-top: 13px;
}

.opening-hours .line-third {
  padding-bottom: 6px;
  margin-bottom: 28px;
  margin-left: 16%;
  padding-top: 13px;
}

.opening-hours .last-dt {
  margin-top: 0;
}

.opening-hours .last-dd {
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 4px;
  margin-bottom: 15px;
}

.copyright {
  margin-top: 22px;
  display: block;
  text-align: right;
  font-size: 11px;
}

@media screen and (max-width: 979px) {
  .opening-hours dd p:last-of-type {
    display: block;
    margin-left: 69px;
    margin-top: 5px;
  }

  .opening-hours dt {
    width: 20%;
  }

  .opening-hours dd {
    width: 80%;
  }

  .opening-hours .line-second {
    margin-left: 20%;
  }

  .opening-hours .line-third {
    margin-left: 20%;
  }
}

@media screen and (max-width: 820px) {
  .footer-inner {
    flex-direction: column-reverse;
  }

  .footer-map {
    width: 100%;
  }

  .footer-info {
    width: 100%;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-adress {
    justify-content: center;
  }

  .footer-adress-number {
    text-align: center;
  }

  .copyright {
    position: absolute;
    bottom: 10px;
  }

  footer {
    padding: 196px 0 70px;
  }
}
